$font-family: 'Roboto', Helvetica, sans-serif;
$font-normal: 18px;

/* Colors */
$white: #FFFFFF;
$black: #000000;
$dark-grey: #2E2E2E;
$light-grey: #D7D7D7;
$lighter-grey: #F2F3F4;
$light-blue: #CCEAFE;
$red: #a94442;
$yellow: #E7D903;
$green: #0ADC3D;
$blue: #5DADE2;
$link: #0A8AAD;
$materialize-default: #5DADE2;

/*Breakpoints*/
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: 767px;
$screen-sm-max: 991px;
$screen-md-max: 1999px;