.find-parking-container {
  height: calc(100% - 165px);

  .modal {
    &.modal-fixed-footer  {
      height: 30%;
      .modal-content {
        height: 200px;
      }
      .modal-footer {
        text-align: right;
      }
    }
  }
}
.action-btn {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  width: 400px;

  .gray-btn {
    width: 400px;
    background: rgba(0,0,0,0.7) !important;
    font-weight: bold;
    border-radius: 8px;
  }
}
.find-nearby-btn {
  top: 90px;
}

.search-btn {
  top: 150px;
  font-size: 14px;
}

.my-location-marker {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 140px;
  right: 60px;
  background: url('../images/my-location.png');
  background-size: contain;
  cursor: pointer;
}

.parking-options {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  padding: 20px 15px 10px;
  background: rgba(0,0,0,0.7) !important;
  color: $white;
  max-height: 380px;
  overflow-y: scroll;

  .close-btn {
    cursor: pointer;
    background: url('../images/cross.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    height: 25px;
  }

  .parking-type {
    cursor: pointer;
    padding: 8px 0;
    border-radius: 3px;

    &:hover {
      background: rgba(0,0,0,0.8) !important;
    }
  }

  .free-parking {
    background: url('../images/park_free_circle@3x.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 75px;
    height: 55px;
  }
  .public-parking {
    background: url('../images/park_paid_circle_pin@3x.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 75px;
    height: 55px;
  }
  .managed-parking {
    background: url('../images/park_managed_circle@3x.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 75px;
    height: 55px;
  }
}
.selected-location {
  width: 330px;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 20px 15px 20px;
  background: rgba(0,0,0,0.7) !important;
  color: $white;
  margin: 0 auto;
  border-radius: 3px;
  text-align: center;
}
.other-locations {
  width: 330px;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 20px 15px 20px;
  background: rgba(0,0,0,0.7) !important;
  color: $white;
  margin: 0 auto;
  border-radius: 3px;
  text-align: center;

  & > div {
    margin: 8px 0;
  }

  .heading {
    border-bottom: 1px solid $white;
    padding: 5px 0;
  }

  .close-btn {
    cursor: pointer;
    background: url('../images/cross.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    height: 25px;
  }
}

.back-btn {
  width: 200px;
  position: absolute;
  bottom: 160px;
  left: 50px;
  z-index: 10;
  background: rgba(0,0,0,0.7) !important;
  border-radius: 3px;
  text-align: center;

  a {
    color: $white;
    display: block;
    padding: 20px 15px 20px;
  }
}

.parking-info-btn {
  @extend .back-btn;
  left: auto;
  right: 50px;
}

.parking-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
  background: rgba(0,0,0,0.8);
}

.free-parking-modal {
  position: absolute;
  width: 450px;
  left: 0;
  right: 0;
  top: 60px;
  margin: 0 auto;
  z-index:999;
  background: $white;
  padding: 20px 20px 20px;
  border: 1px solid $black;
  border-radius: 8px;

  .heading {
    border-bottom: 1px solid $light-grey;
    padding: 0 0 10px;
    text-align: center;
  }

  h4 {
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-weight: bold;
  }

  .close-btn {
    cursor: pointer;
    background: url('../images/cross-black.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    height: 25px;
  }

  .parking-details {
    font-size: 16px;
    > div {
      padding: 0 0 5px 0;
    }
    .link {
      text-align: center;
      margin: 15px 0;

      a {
        color: $link;
        font-size: 18px;
      }
    }
  }

  .plate-list {
    max-height: 315px;
    overflow-y: auto;

    .plate {
      border-bottom: 1px solid $light-grey;
      padding: 5px 10px;

      &.even {
        background: $lighter-grey;
      }
    }
  }

  .select-vehicle {
    .react-selectize {
      &.root-node {
        width: 100%;
      }
    }
  }

  .vehicle-form {
    text-align: center;

    h4 {
      margin: 5px 0 15px 0;
    }

    .parking-rate {
      margin: 15px 0;
    }

    .react-selectize {
      &.root-node {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}

.managed-parking-modal {
  position: absolute;
  width: 500px;
  left: 0;
  right: 0;
  top: 60px;
  margin: 0 auto;
  z-index: 999;
  background: $white;
  padding: 20px 20px 15px 20px;
  border: 1px solid $black;
  border-radius: 8px;
  text-align: center;

  .heading {
    border-bottom: 1px solid $black;
    padding: 0 0 10px;
    text-align: center;
  }

  h4 {
    font-size: 20px;
    padding: 0;
    margin: 0;
  }

  .parking-details {
    text-align: left;
    font-size: 16px;
    > div {
      padding: 0 0 5px 0;
    }
    .link {
      text-align: center;
      margin: 15px 0;

      a {
        color: $link;
        font-size: 18px;
      }
    }
    .lot-link {
      margin: 5px 0;
      text-align: center;

      a {
        color: $link;
        font-size: 18px;
      }
    }
  }

  .close-btn {
    cursor: pointer;
    background: url('../images/cross-black.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    height: 25px;
  }
  .car-list {
    min-height: 240px;
    padding: 0 20px;
    .car {
      width: 80px;
      float: left;
      margin-bottom: 10px;
    }
  }
  .car-icon {
    &.occupied {
      background-image: url('../images/ride@3x.png');
    }
    &.available {
      background-image: url('../images/popup_car_red@3x.png');
    }
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 30px;
  }
  .lot-number {
    font-size: 14px;
    text-align: center;
  }
  .park-here-btn {
    margin: 15px 0;
  }

  .plate-list {
    max-height: 315px;
    overflow-y: auto;

    .plate {
      border-bottom: 1px solid $light-grey;
      padding: 5px 0;

      &.even {
        background: $lighter-grey;
      }
    }
  }

  .react-selectize {
    &.root-node {
      width: 100%;
    }
  }

  .react-selectize {
    &.root-node {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
.parking-overview {
  position: absolute;
  top: 54px;
  right: 0;
  width: 100%;
  font-size: 12px;
  z-index: 3001;
  text-align: center;
  background: rgba(0, 0, 0, 0.95) !important;
  color: $white;
  border-radius: 0px 0px 0 5px;

  .parking-details {
    .title {
      text-align: right;
    }
    .value {
      text-align: left;
    }
  }
}

.parking-confirmation {
  .row {
    margin-bottom: 5px;
  }
  .timer {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D7D7D7;

    h3 {
      font-weight: bold;
    }
  }

  .header {
    font-weight: bold;
    text-align: right;
  }
  .field-value {
    text-align: left;
  }
}
.font-bold {
  font-weight: bold;
}
.margin-bottom-10 {
  margin-bottom: 10px
}

.wallet-balance-modal {
  &.modal {
    .modal-footer {
      height: 82px;
    }
  }
}

#pano {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 0;

  &.inactive {
    visibility: hidden;
  }

  &.active {
    display: block;
    z-index: 100;
  }
}

.close-street-view {
  position: absolute;
  top: 65px;
  color: $white;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999;
  text-align: center;
}